.footer-card {
    color: #FFF;
    height: 35px;
}

.btn-details {
    /* background-color: #614EA6; */
    color: #FFF;
    transition: 0.2s ease-in;
}

.btn-details:hover {
    color: #614EA6;
    /* color: #FFF; */
}

.card-text {
    height: 150px;
    max-height: 180px;
    overflow: hidden;
}

.img-card {
    border-radius: 8px;
    max-height: 250px;
    min-width: 100%;
}

.card-body {
    margin-top: 5px;
    background-color: #614EA6;
    border-radius: 8px;
    transition: 0.2s ease-in
    ;
}

.card-body:hover {
    background-color: #F21667;
}

.card-body h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFF;
    font-weight: bold;

}