.footer-card {
    color: #614EA6;
    height: 35px;
}

.btn-details {
    background-color: #614EA6;
    color: #FFF;
    transition: 0.2s ease-in;
}

.btn-details:hover {
    background-color: #F21667;
    color: #FFF;
}

.card-text {
    max-height: 200px;
    overflow: hidden;
}

.img-card {
    max-height: 200px;
    min-width: 100%;
}